body{
    margin: 0%;
    min-width: 42%;
    width: 100%;
}

/*Fraunces*/
.banner, h3{
    font-family: 'Fraunces', serif;
    font-style: italic;
    text-align: center;
}

/*Oswald*/
.topo, h2{
    color: #fff;
    font-family: 'Oswald', sans-serif;

}

/*Lato*/
p{
    color: #666;
    font-family: 'Lato', sans-serif;
}


.topo{
    background-color: #604829;
    position: fixed;
    width: 100%;
    top: 0%;
    
}
.topo img{
    width: 100px;
    margin:10px 250px;
}
.topo a {
    color:#C4A47C;
    text-decoration: none;

    position:relative; 
    top: -50px; 
    left: 700px; 
    margin-left: 20px;
    text-shadow: 0.2em 0.2em black;  
}



.banner{
    background: url("assets/parallax-imagem1.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.man{

    color: #fff;
    font-size: 80px;
    font-style: normal;
    padding: 30% 0;
}


h2{

    color: #C4A47C;
    text-align: center;
    padding-bottom: 10px ;
    padding-top: 30px;
}

.info p{
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
    line-height: 130%;
}

.parallax2{
    background: url("assets/parallax-imagem2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position:  center;
    background-repeat:  no-repeat;
    background-size:  cover;
}



/*  '-'   */

.parallax2 h3,.parallax3 h3, .parallax4 h2{

    font-family: frauces, serif;
    background-color: #604829;
    color: white;
    text-align: center;
    position: absolute;
    margin-top: 200px;
    padding: 20px 50px;
    font-size: 20px;
    left: 30%;
    right: 30%;
}



/*      padding: 30px 30%; /* '-' */   

.parallax3{
    background: url("assets/parallax-imagem3.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position:  center;
    background-repeat:  no-repeat;
    background-size:  cover;
}


.iframeimg{
    width: 50%;
    height: 200px;
    margin-top: 150px;
    margin-bottom: 20px;
}
.parallax4{
    text-align: center;
    background: url("assets/parallax-imagem4.png");
    min-height: 500px;
    background-attachment: fixed;
    background-position:  center;
    background-repeat:  no-repeat;
    background-size:  cover;

}

.parallax4 h2{
    margin-top: 50px;
    position: absolute;

}

.parallax4 p{
    color: #fff;
    background-color: #604829;
    padding: 10px 0;
    margin: 0 30%;

    margin-top: 0;
    margin-bottom: 0;   
    text-shadow: 2px 2px 5px black;
    
}



.hor{
    background: url("assets/cafeteria.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position:  center;
    background-repeat:  no-repeat;
    background-size:  cover;  
}


.hor h2{
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 100px;
}
.hor li{
    width:100%;
    column-count: 3;
    display:inline-table;  

}

.hor h3{
    text-align: right;
}

.hor p, .hor span{
    color: white;
    display: inline-flex;
    text-align: left;
}
.hor h3, .hor div{
    width: 5%;
    color: white;
    display:inline-flex;
}

.hor span{
    color:#C4A47C;
}



.hor div{
    background-color: white;
    height: 1px;
    width: 30%;

    margin: 5px 50px; 
}

ul{
    text-align: center;
    margin: 0%;
    padding-bottom: 42px;
}

.rodape{
    text-align:center;
    background-color: black;
    padding: 1px;
    color: white;   
}

.rodape span{
    color: #C4A47C;
}

.rodape img{
    width: 50px;
    position: relative;
    top:-40px;
    bottom:300px;
    right: 200px;
    left: 800px;
 
}
